*{
    padding: 0;
    margin: 0;
    border: border-box;
}

body{
    background-color: rgb(59, 169, 255);

}

header{
    background-color: #fff;
    height: 55 px;
    width: 100%;
    background-attachment: fixed;
}

.title{
    display:inline-block;
    margin-bottom: 10px;
}

.logo{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}

.separetion{
    height:100px;
}


.container{
    margin: auto;
    background-color: whitesmoke;
    
    border-radius: 4px;

    width: 490px;
    height: 500px;
}