*{
    padding: 0;
    margin: 0;
    border: border-box;
}

body{
    background-color: rgb(59, 169, 255);

}

header{
    background-color: #fff;
    height: 55 px;
    width: 100%;
}

.title{
    display:inline-block;
    margin-bottom: 10px;
}

.logo{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}



.container{

    width: 200px;
    height: 400px;
}